  <h1 class="edit-logo">Edit a new Bike!</h1>
  <%= form_for @bike do |f| %>
     <div class="edit-bike field">
       <%= f.label :make, class: 'edit-review' %>
       <%= f.text_field :make %>
     </div>

     <div class="edit-bike field">
       <%= f.label :model, class: 'edit-review' %>
       <%= f.text_field :model %>
     </div>

     <div class="edit-bike field">
       <%= f.label :year, class: 'edit-review' %>
       <%= f.text_field :year %>
     </div>

     <div class="edit-bike field">
       <%= f.label :code, "Optional Code", class: 'edit-review' %>
       <%= f.text_field :code %>
     </div>
     <div class="edit-bike field">
       <%= f.label :profile_photo, class: 'edit-review' %>
       <%= f.file_field :profile_photo %>
     </div>

     <div class='action'>
       <%= f.submit'Edit Bike' %>
     </div>
<% end %>
