<h1 class="logo"> Look at all these bikes </h1>
<br>
<div class="row small-up-2 medium-up-3">
<% @bikes.each do |bike| %>
<div class="column">
  <!-- <div class="index-window"> -->
    <div class="card">
      <img class="bike-photo" src=<%= bike.profile_photo %>/>
        <div class="card-section">

          <h3>
            <%= link_to bike.model, bike_path(bike) %>
          </h3>
          <h4>
            <%= bike.year %>
          </h4>

          <% if bike.code %>
          <h6>
            <%= bike.code %>
          </h6>
          <% end %>

          <% if current_user != nil && current_user.admin? %>
            <%= link_to 'Edit', edit_bike_path(bike)%>
            <%= link_to 'Delete', bike_path(bike), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
          <% end %>

        <br/>
        <br/>
      </div>
    </div>
  <!-- </div> -->
</div>

<% end %>
<% if current_user != nil && current_user.admin? %>
  <%= link_to "Create new bike", new_bike_path %>
<% end %>

</div>
