<h1 class="new-bike-header">Add a new Bike!</h1>
<%= form_for @bike do |f| %>
   <div class="field">
     <%= f.label :make, class: 'edit-review' %>
     <%= f.text_field :make %>
   </div>
   <div class="field">
     <%= f.label :model, class: 'edit-review' %>
     <%= f.text_field :model %>
   </div>
   <div class="field">
     <%= f.label :year, class: 'edit-review' %>
     <%= f.text_field :year %>
   </div>
   <div class="field">
     <%= f.label :code, "Optional Code", class: 'edit-review' %>
     <%= f.text_field :code %>
   </div>
   <div class="field">
     <%= f.label :profile_photo, class: 'edit-review' %>
     <%= f.file_field :profile_photo %>
   </div>

   <div class='action'>
     <%= f.submit'Make Bike' %>
   </div>
 <% end %>
